* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #511ea4;
  --color-white: #fff;
  --color-danger: #8a0000;
  --secondary-color: #e6e6fa;
}

html {
  font-size: 62.5%;
  font-family: "Hubballi", cursive;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  position: relative;
}

legend {
  font-size: 2rem;
  font-weight: bold;
}

.container {
  max-width: 126rem;
  margin: 0 auto;
  /* display: grid; */
  /* grid-template-rows: 0.5fr 2.5fr; */
}

.book-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-a-new-book-form {
  display: none;
}

.add-a-new-book-form.open {
  display: block;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
  border: 2px solid var(--secondary-color);
  border-radius: 2rem;
  padding: 2rem;
  width: 50vw;
}

.open-form {
  position: relative;
  transition: all 0.5s;
}

.open-form.open {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.973);
}

.form {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.form > input,
.form > select {
  padding: 1rem;
  border-radius: 2rem;
  border: 0.1rem solid #b6b6f8;
  outline: none;
  /* max-height: 1rem; */
}

.form-submit-btn,
.add-btn > button {
  padding: 1rem 2rem 1rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--primary-color);
  color: var(--color-white);
}

.form-submit-btn:hover {
  background-color: var(--color-white);
  border: 0.1rem solid var(--primary-color);
  color: var(--primary-color);
}

.top-layer-form {
  display: flex;
  justify-content: space-between;
}

.closeBtn {
  display: block;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--color-danger);
  color: var(--color-white);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 2rem;
  border-bottom: 2px solid var(--secondary-color);
}

.add-btn > button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-btn > button:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: var(--color-white);
  color: var(--primary-color);
}

.cards {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.card {
  border-left: 0.2rem solid blue;
  height: 18rem;
  box-shadow: 0 0 0.5rem 0.4rem rgb(0 0 0 / 6%);
  border-radius: 2rem;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-out;
}

.card:hover {
  border-left: none;
  box-shadow: 2rem 0.5rem 0.5rem 0.5rem rgba(5, 5, 5, 0.06);
  border-bottom: 0.4rem solid blue;
}

.card-button {
  display: flex;
  gap: 1rem;
}

.card h1 {
  font-size: 4rem;
  font-weight: bold;
}

.card p {
  font-size: 1.5rem;
}

.card-button button {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 2rem;
}
